<main class='entries'>
  <h1>Entries</h1>
  {{entries-table table=table}}
</main>
<aside class='add-entry'>
  {{#if addingEntry}}
    {{entry-form
      onCancel=(action (mut addingEntry) false)
      onSubmit=(perform createEntry)
    }}
  {{else}}
    <button
      type="button"
      class="btn btn-primary"
      {{action (mut addingEntry) true}}
    >
      Add Entry
    </button>
  {{/if}}
</aside>
